:root[data-theme='light'] {
  --bg-color-header: #26a9e0;
  --bg-color-window: #b9e9fd;
  --bg-color-main: #eaeaea;
  --shadow-menu: 0 10px 20px -2px rgba(0, 0, 0, 0.4);
  --font-color-main: #101010;
  --font-color-secondary: #3c3c3c;
}

:root[data-theme='dark'] {
  --bg-color-header: #1b2c33;
  --bg-color-window: #1b2c33;
  --bg-color-main: #09212b;
  --shadow-menu: 0 10px 20px -2px rgba(255, 255, 255, 0.4);
  --font-color-main: #f5f5f5;
  --font-color-secondary: #999999;
}
//drop-down menu
// background-color: #3d3d3d; card
//box-shadow: 0 10px 20px -2px rgba(255, 255, 255, 0.4);
//box-shadow: 0 10px 20px -2px rgba(0,0,0,.4);
//colors
$bg-header: var(--bg-color-header);
$bg-main: var(--bg-color-main);
$bg-window: var(--bg-color-window);
$bg-btn-main: #0c279e;
$bg-btn-secondary: #ff4c00;
$bg-btn-inactive: #565f8a;
$font-main: var(--font-color-main);
$font-secondary: var(--font-color-secondary);
$font-light: #fff;
$font-dark: #000;
$font-contrast: #ff4c00;
$border: #7f7f7f;
$shadow-menu: var(--shadow-menu);

//font-sizes

//item-sizes
$main-container-max-width: 1440px;

//font-families
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;
$logo-font-family: 'Fyodor', Arial, Helvetica, sans-serif;

//templates
%hover-active-opacity {
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

%side-container-padding {
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
