@import '../../styles/variables.scss';

.search {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 660px;

  @media (max-width: 768px) {
    flex: 1 1 100%;
    max-width: 400px;
  }

  &__input {
    width: 100%;
    max-width: 600px;
    padding: 11px 50px 11px 16px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    background-color: $bg-main;
    color: $font-main;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__btn {
    position: absolute;
    right: -2px;
    width: auto;
    height: 100%;
    padding: 12px;
    border-style: none;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    box-shadow: inset 0px 0px 3px 0px;
    background-color: $bg-btn-main;
    @extend %hover-active-opacity;
  }
}
