@import '../../styles/variables';

.page {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    box-sizing: border-box;
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__title {
    color: $font-main;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}

.history {
  padding-top: 40px;
  position: relative;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  &__clear-btn {
    font-weight: 500;
    font-size: 14px;
    background-color: $bg-btn-secondary;
    border: 1px solid $border;
    cursor: pointer;
    padding: 7px;
    border-radius: 12px;
    color: $font-light;
    position: absolute;
    top: 0;
    right: 0;
    @extend %hover-active-opacity;
  }

  &__item {
    cursor: pointer;
    display: grid;
    border-radius: 12px;
    grid-template-columns: min-content 1fr auto;
    align-items: center;
    column-gap: 20px;
    min-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -2px 4px 3px -2px $shadow-menu-color;
    &:hover {
      background-color: $bg-window;
    }
  }

  &__remove-btn {
    background: none;
    border: none;
    background-image: url(../../assets/img/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 15px;
    @extend %hover-active-opacity;
  }

  &__search-query {
    color: $font-main;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__datetime {
    color: $font-secondary;
    margin: 0;
    font-size: 14px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__error {
    color: $font-contrast;
    text-align: center;
    margin: 0;
    font-size: 16px;
  }

  &__no-data {
    color: $font-secondary;
    text-align: center;
    margin: 0;
    font-size: 16px;
  }
}
